<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeb</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/greeb1.2.png') }}" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class=" px-5 font-bold bg-slate-800 flex flex-col">
        <div  class="logo relative flex flex-1 flex-row  py-2 align-middle "><span class="z-10 pt-3 italic text-5xl font-extrabold -rotate-12 text-lime-400">Greeb</span><img class="w-28 left-3 absolute" src="{{ url_for('static', filename='img/greeb1.2.png') }}" alt="" srcset=""></div>
        <div class="flex gap-3 justify-end italic">
            <a href="/" class="text-lime-200  border-lime-400 px-1 hover:text-lime-600">Inicio</a>
            <a href="/proyectos" class="text-lime-200 px-1  border-lime-400 hover:text-lime-600">Proyectos</a>
            <a href="/contacto" class="text-lime-200 px-1 border-b-4 border-lime-400 hover:text-lime-600" >Contacto</a>
        </div>
    </header>

    <content class="flex flex-col py-4 px-4 place-items-center">
        <form action="/contacto" method="post"
          class="bg-slate-800 py-3 px-3 rounded-md flex flex-col gap-4 place-items-stretch w-10/12 max-w-xl"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="flex flex-col gap-2 place-items-stretch">
            <label for="email" class="text-lime-200"
              >Ingrese su correo <span id="alert-input-email" class="text-red-500"
                ></span
              ></label
            >
            <input
              name="email"
              type="email"
              class="px-2 rounded"
              required
            />
            <label for="name" class="text-lime-200"
              >Ingrese su nombre <span id="alert-input-email" class="text-red-500"
                ></span
              ></label
            >
            <input
              name="name"
              type="text"
              class="px-2 rounded"
              required
            />
            <label for="message" class="text-lime-200">Escriba su mensaje</label>
            <textarea
              name="message"
              class="px-2 rounded"
              required
              ></textarea>
            </div>
          <input type="submit" value="Enviar"
          class="text-lime-200 py-3 px-3 rounded-md border-solid border-lime-400 border-2 hover:opacity-70">
        </div>
      </content>

      {% for message in get_flashed_messages() %}
      {% if message == "success" %}
      <div id="notification" class="absolute bg-lime-400 px-4 py-2 left-0 bottom-0 w-full">
          <p class="text-slate-800 font-medium text-center">Mensaje enviado</p>
          <p class="text-slate-800 text-center">¡Nos contactaremos con usted muy pronto!</p>
      </div>
      {% else %}
      <div class="absolute bg-red-400 px-4 py-2 left-0 bottom-0 w-full">
          <p class="text-slate-800 font-medium text-center">A ocurrido un error</p>
          <p class="text-slate-800 text-center">¡Vuelva a intentarlo!</p>
      </div>
      {% endif %}
      <script>
          setTimeout(() => {
              const notification = document.getElementById("notification");
              notification.style.display = "none";
          }, 4000);
      </script>
      {% endfor %}

</body>
</html>